<h1>Articles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.title, article %></td>
        <td><%= article.description %></td>
        <td>
          <%= link_to 'Edit', 
											 edit_article_path(article), 
											 :class => 'btn btn-mini' %>
          <%= link_to 'Delete', 
											 article_path(article), 
											 :method => :delete, 
											 :confirm => 'Are you sure?', 
											 :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path, :class => 'btn btn-primary' %>
